<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://cdn.britannica.com/95/143895-050-FA4BAC47/Billboards-Broadway-New-York-City-Times-Square.jpg);">
  <div class="container">
    <h1 class="text-center">All your lists</h1>
  </div>
</div>


<div class="container mt-4 mx-auto">
  <div class="cards">
    <% @lists.each do |list| %>
    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= cl_image_path list.photo.key, height: 300, width: 400, crop: :fill %>)">
      <%= link_to list.name, list_path(list) %>
      </div>
    <% end %>
  </div>
</div>
